imbalanced_learn==0.9.0
imblearn==0.0
ipython==8.3.0
matplotlib==3.5.1
nltk==3.6.7
numpy==1.21.2
pandas==1.3.5
scattertext==0.1.6
scikit_learn==1.1.0
seaborn==0.11.2
shap==0.40.0
spacy==3.3.0
statsmodels==0.12.2
wordcloud==1.8.1
xgboost==1.5.2
